[
    (0.0, 4.0, 60, Pulse),
    (0.0, 4.0, 63, Sawtooth),
    (0.0, 4.0, 67, Sine),
    (0.0, 4.0, 70, Square),

    (4.0,  4.0, 62, Triangle),
    (4.0, 4.0, 65, Triangle),
    (4.0,  4.0, 69, Triangle),
    (4.0, 4.0, 72, Triangle),

    (8.0, 4.0, 60, Pulse),
    (8.0, 4.0, 63, Pulse),
    (8.0, 4.0, 67, Pulse),
    (8.0, 4.0, 70, Pulse),

    (12.0,  4.0, 62, Square),
    (12.0, 4.0, 65, Square),
    (12.0,  4.0, 69, Square),
    (12.0, 4.0, 72, Square),

    (16.0, 4.0, 60, Sawtooth),
    (16.0, 4.0, 63, Sawtooth),
    (16.0, 4.0, 67, Sawtooth),
    (16.0, 4.0, 70, Sawtooth),

    (20.0,  4.0, 62, Triangle),
    (20.0, 4.0, 65, Triangle),
    (20.0,  4.0, 69, Triangle),
    (20.0, 4.0, 72, Triangle),

    (24.0, 4.0, 60, Pulse),
    (24.0, 4.0, 63, Pulse),
    (24.0, 4.0, 67, Pulse),
    (24.0, 4.0, 70, Pulse),

    (28.0,  4.0, 62, Square),
    (28.0, 4.0, 65, Square),
    (28.0,  4.0, 69, Square),
    (28.0, 4.0, 72, Square),

]